[submodule "check_dht"]
	path = check_dht
	url = https://github.com/wernerfred/check_dht
[submodule "check_synology"]
	path = check_synology
	url = https://github.com/wernerfred/check_synology
[submodule "check-teamspeak3-perf"]
	path = check-teamspeak3-perf
	url = git@github.com:seosepa/check-teamspeak3-perf.git
